/*resets by Eric Meyer*/



/*all elements*/
* {
    font-family: 'Montserrat', sans-serif;
    text-align: center;


}
body {
    margin: 0;
}

/*header*/

header  {
    margin: 0;
    padding: 0;

    background-image: linear-gradient( to bottom, dimgrey, white );
}
h1 {
    margin-top: 0;
    padding-top: 20px;
}
#h2-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}

 /*navigation*/
nav{

    height: 45px;
    margin: 0;

    background-color:rgb(48, 53, 61) ;
    /*background-image: linear-gradient( to bottom, rgb(48, 53, 61), rgb(160, 175, 175) );*/
    background-image: linear-gradient( to bottom, white, darkgrey );
    /*border: grey 2px solid;*/
    color: white;
}


 ul{
     margin-left: 40px ;
 }

  ul li{
      display: inline;
      float: left;
      padding: 10px;
      font-weight: bold;
      font-size: 14px;

  }

.social-media {
    /*display: inline;
    float:right;
    margin-right: 50px;
    margin-left: 0;
    color: green;
    padding-left: 0;
    padding-bottom: 10px;*/

    position: absolute;
    top:118px;
    right: 80px;
}



  /*main section*/
main{
    margin: 0;

}

img {
    height: 300px;
    width: auto;
    padding: 20px;
}

/*.grid {
    display: inline-grid;

    float: left;
    display: inline;
}  */



.s-container {
    position: relative;
    text-align: center;
    color: white;

    display: inline-block;


}

/*hiding the 9th pic when screen narrow and 2 columns result*/
@media only screen and (max-width: 1168px){
    #hide {
        display: none;
}
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.centered:hover {
    font-weight: bold;
}

footer{
    clear: left;
    font-weight: bold;
    background-color: dimgrey;
    height: 40px;
    text-align: center;
    vertical-align: middle;

    margin-bottom: 0;

    /*position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;*/



}

footer p {
    padding-top: 10px;
    margin: 0;

}